.card {
	border: 2px solid black;
	width: 350px;
	min-height: 110px;
	border-radius: 5px;
	text-align: center;
	margin-left: 5px;
	margin-top: 10px;
	background-color: antiquewhite;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.card_block {
	margin-bottom: 10px;
}

.card_btn {
	margin-bottom: 5px;
}
